<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title>Stockshot</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style type="text/css">
        body {
            font-family: helvetica, arial, san-serif;
            background-color: #fff;
            text-align: left;
            font-size: 0.9em;
            margin: 10em
        }
    </style>


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="js/math.min.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="js/mstar.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|IBM+Plex+Mono|Nunito" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div id="container"> 

    <h4>Stock snapshot</h4>
    <hr>
    <div class='typed'>ENTER TICKER SYMBOL: <input class="typed" id="sym"><button class="typed" id="submit">Submit</button></div>
    <div class="loader"></div>

    <div class='section-title toggle'>Company Overview</div>
    <div id="overview" class="overview toggle"></div>

    <div class='section-title toggle'>Income sheet</div>
    <div class='section-table toggle' id="income"> </div>

    <div class='section-title toggle'>Balance sheet</div>
    <div class='section-table toggle' id="balance"> </div>

    <div class='section-title toggle'>Cash flow</div>
    <div class='section-table toggle' id="cash"> </div>

    <div class='section-title toggle'>Calculated Values</div>
    <div class='section-table toggle' id="earnings"> </div>
    <div id="footer" class='toggle'>
        <div width=200px id="windage_entry" style="float: left;">
            <br>
            <div class='typed windage_label toggle'>WINDAGE GROWTH RATE (%):<br> <input class="typed windage_input" id="windage_growth"></input></div>
            <div class='typed windage_label toggle'>WINDAGE PE:<br> <input class="typed windage_input" id="windage_pe"></input></div>
            <div class='typed windage_label toggle'>WINDAGE EPS:<br> <input class="typed windage_input" id="windage_eps"></input></div>
            <div class='typed windage_label toggle'>MARGIN OF SAFETY PRICE:<br> <span id=mos></span></div>
        </div>
        <div id="chart-container" class='toggle'>
        <div id="chart" class='toggle' style="width:300px;height:130px;">
        </div>
        </div>
    </div>
</div>

</body>
</html>